/*
	Comment
*/

a { /* Comment */ color: /* Comment */ Red; }

body {
	background: DarkGreen;
	color: white;
	font-family: monospace;
}

h1 {
	font-size:100px;
	text-align: center;
	
	
}

.p { 
	color: white;
	font-size:20px;
	font-family: monospace;

}

.logo1 {
	float: top, left;
	
	
	
	
}

.button1 {
  
  color: white;
  text-decoration: none;
  font-family: monospace;
  background-color: Green;
  border-width: 4px;
  border-style: solid;
  border-radius: 8px;
  outline-width:100px;
  font-size:40px;
  
 }
 
 .LogInButton {
 	
	float: right;
	text-align: right; 
	 color: black;
  text-decoration: none;
  font-family: monospace;
  background-color: LightGray;
  border-width: 0.5px;
 border-style: solid;



opacity: 0.5;

  outline-width:100px;
  font-size:20px;
	
 }

 
 form {
 	text-align: center;
	float: center;
	font-family: monospace;


	
	
	
	
 }
 
 .news {
 	
	background: white;
	font-family: Monospace;
	font-size:15px;
	color: black;
	border-style: solid;
	font-weight: bold;
	
	

	
	
	
 }


/* Import google fonts */

@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.form-div {

margin: 50px auto 50px;
padding: 25px 15px 10px 15px;
border: 1px solid #80ced7;
border-radius: 5px;
font-size: 1.1em;
font-family: "Lora", serif;

 }


 .form-control:focus {

box-shadow: none;



 }
 
